$base-color-light: #fbf7f4;


$base-color-green: #2db24c;
$base-color-red: #ee2045;
$base-color-blue: #4584c6;
$base-color-yellow: #ffe829;

$font-color-light: #fff;
$font-color-dark: #36454f;
$font-size: 26px;
$font-size-small: 16px;

$font-family-body: "Roboto", sans-serif;
$font-family-hero-title: "Exo", sans-serif;
$font-family-menu-title: "Source Sans Pro";
$font-family-menu-price: "Patrick Hand";

